.td  {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

.th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 2px solid black;
    padding:1px
  }
